# ============================================================
# GENERAL
# ============================================================

# macOS
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Nextflow internal files
.nextflow/
.nextflow.log*
work/


# ============================================================
# DAY 01
# ============================================================

# nf-core/differentialabundance output directories
day_01/test_results*/


# ============================================================
# DAY 02
# ============================================================

# nf-core/fetchngs downloaded/generated output
day_02/fetchngs_results/

# Day 02 local/generated data
day_02/smallest_runs.csv
day_02/base_counts.csv
day_02/conditions_runs_oxy_project.xlsx
day_02/Pryce2023.pdf